<div class="container">

  <div class="add-participants">
  <h3>Add Students to course</h3>
    <%= form_tag course_invitations_path(@course, student: true ) do %>
      <table>
        <th class="sign-up-form-field">
          <%= label_tag :applicants %>
        </th>
        <th class="sign-up-form-field">
          <%= text_area_tag :applicants %>
        </th>
        <th>
          <%= submit_tag "Invite", class: "btn btn-success" %>
        </th>
      </table>
     <% end %>
    </div>

  <div class="add-participants">
    <h3>Add Instructors to course</h3>
    <%= form_tag course_invitations_path(@course, student: false )do %>
    <table>
      <th class="sign-up-form-field">
        <%= label_tag :applicants %>
      </th>
      <th class="sign-up-form-field">
        <%= text_area_tag :applicants %>
      </th>
      <th>
        <%= submit_tag "Invite", class: "btn btn-success" %>
      </th>
    </table>
   <% end %>
  </div>

</div>
